credentials:
  username: '4001234123'
  password: 'qwerty'
paths:
  url: 'https://lms.khu.ac.ir'
  python3: '/bin/python'
  chromedriver: '/usr/local/bin/chromedriver'
  main: 'main.py'
  stderr: '~/Desktop/stderr.log'
  stdout: '~/Desktop/stdout.log'
courses:
  - id: '4838'
    crons:
      - '59 7 * * 6,0,2'
  - id: '1197'
    crons:
      - '59 9 * * 6'